PL/Service References/ServiceReference6/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28927/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28927/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_Saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="IService2_Saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Suma_InputMessage">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="IService2_Suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="Saludar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Saludar" message="tns:IService2_Saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SaludarResponse" message="tns:IService2_Saludar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/Suma" message="tns:IService2_Suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/SumaResponse" message="tns:IService2_Suma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludar">
      <soap:operation soapAction="http://tempuri.org/IService2/Saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/IService2/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:28927/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>